.business-pricing {
  margin: 28px 25px 34px;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.business-pricing__item,
.business-pricing__price {
  color: #444444;
  font-weight: 300;
  margin: 0;
  text-align: start;
}

.business-pricing__item {
  border-top: 1px solid fade(@basic-black, 5%);
  padding-top: 11px;
}

.business-pricing__price {
  padding-bottom: 11px;
}
