.button {
  display: block;
  font-family: inherit;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: @special-yellow;
  border-radius: 25px;
  padding: 6px 12px;
  color: @ocean-blue;
  font-weight: 700;
  font-size: 17px;
  line-height: 17px;
  cursor: pointer;
}

.button--min-stylish {
  background-color: transparent;
}

.button--alphabet {
  font-size: 16px;
  line-height: 20px;
  border: none;
  background-color: #d6daed;
  color: @background-deep-blue;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 83px 10px 84px;
  margin-bottom: 13px;

  &:hover {
    background-color: #c8cee8;
  }

  &:active .button__inner-wrapper {
    color: fade(@background-deep-blue, 30%);

    &::before,
    &::after {
      background-color: #949bb7;
    }
  }

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 1em;
    padding: 37px;
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    padding: 39px;
    margin-bottom: 76px;
  }
}

.button__inner-wrapper {
  position: relative;
  padding-left: 20px;

  &::before,
  &::after {
    display: block;
    content: "";
    width: 16px;
    height: 1px;
    background-color: #192144;
    border-radius: 1px;
    top: 50%;
    left: -7px;
    position: absolute;

    @media (min-width: @tablet-width) {
      height: 3px;
      width: 27px;
      border-radius: 2px;
    }
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  @media (min-width: @tablet-width) {
    padding-left: 40px;
  }
}

.button--companion {
  background-color: @basic-white;
  color: #161c35;
  border: none;
  padding: 0;
  height: 41px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    filter: drop-shadow(0 3px 6px rgba(0, 0, 0, 0.14));
  }

  &:active {
    background-color: #f3c72b;
    color: fade(#161c35, 30%);
    filter: none;
  }

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 1em;
    height: 50px;
    margin-right: 12px;
  }

  @media (min-width: @desktop-width) {
    height: 49px;
    margin: 0;
  }
}
