.calendar__month-list {
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.calendar__month-item {
  color: #444444;
  text-transform: uppercase;
}

.calendar__month-item--weekend {
  color: #ff5c23;
}

.calendar__day-list {
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.calendar__day-link {
  text-decoration: none;
  color: #444444;
  opacity: 0.3;
}

.calendar__day-link--chosen {
  background-color: #1d2e5b;
  color: #ffffff;
  opacity: 1;
}

.calendar__day-link--available {
  background-color: #cbced9;
  color: #1d2e5b;
  opacity: 1;
}
