.card-user {
  display: grid;
  grid-template-columns: max-content 2fr;
  background-color: #ffffff;
  padding: 18px;
  border-radius: 20px;
  position: relative;

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  @media (min-width: @tablet-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: max-content 1fr 1fr 1fr 1fr;
    padding: 0;
  }
}

.card-user__likes {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 1em;
  }
}

.card-user__title {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: min-content;
  color: #1d2e5b;
  font-weight: 700;
  font-size: 20px;
  line-height: 1em;
  margin: 0;

  &::after {
    display: block;
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    position: absolute;
    top: 22px;
    right: 23px;

    @media (min-width: @tablet-width) {
      position: static;
    }

    @media (min-width: @desktop-width) {
      position: absolute;
      left: -20px;
    }
  }

  @media (min-width: @tablet-width) {
    width: max-content;
    font-size: 30px;
    grid-column: 2 / -2;
  }

  @media (min-width: @desktop-width) {
    grid-column: 2 / 4;
    position: relative;
    justify-self: start;
  }
}

.card-user--offline .card-user__title {
  &::after {
    background-color: #f97676;
  }
}

.card-user--online .card-user__title {
  &::after {
    background-color: #81e31e;
  }
}

.card-user__inner-title {
  color: #444444;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 23px;
  }
}

.card-user__likes-wrapper {
  @media (min-width: @tablet-width) {
    grid-area: 3 / 3 / 4 / 4;
  }
}

.card-user__avatar {
  grid-row: 1 / 3;

  @media (min-width: @tablet-width) {
    grid-row: 1 / 4;
  }
}

.card-user__hashtags {
  list-style-type: none;
  color: #444444;
  font-weight: 400;
  font-size: 15px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  grid-column: 1 / -1;

  @media (min-width: @tablet-width) {
    grid-area: 2 / 2 / 3 / -2;
  }
}

.card-user__targets {
  grid-column: 1 / -1;

  @media (min-width: @tablet-width) {
    order: 1;
  }

  @media (min-width: @desktop-width) {
    order: 0;
    grid-area: 1 / -3 / 3 / -1;
  }
}

.card-user__targets .user-targets__list {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-around;
  }

  @media (min-width: @desktop-width) {
    flex-direction: column;
  }
}

.card-user__important-data {
  grid-column: 1 / -1;
  display: flex;

  @media (min-width: @tablet-width) {
    flex-direction: column;
    grid-area: 1 / -2 / 4 / -1;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
    grid-area: 3 / 4 / 4 / 6;
  }
}

.card-user__button {
  padding: 14px 78px 13px;
  grid-column: 1 / -1;

  @media (min-width: @tablet-width) {
    grid-column: 2 / 3;
    font-size: 20px;
    line-height: 1em;
  }
}
