.cards {
  display: flex;
  flex-direction: column;

  @media (min-width: @desktop-width) {
    margin-right: 85px;
  }
}

.cards__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.cards__button-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: @basic-white;
  border-radius: 20px;
  padding: 25px;
}

.cards__pagination {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }
}

.cards__pagination-list {
  padding: 0;
  list-style-type: none;
  display: flex;
}

.cards__button-page {
  color: #1d2e5b;
  font-weight: 700;
  font-size: 17px;
  line-height: 1em;
  padding: 17px 19px 16px 20px;
  text-decoration: none;
  border-radius: 50%;
}

.cards__button-page--current {
  background-color: @special-yellow;
}

.cards__direction-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;

  @media (min-width: @tablet-width) {
    width: 15%;
  }
}

.cards__button-prev,
.cards__button-next {
  display: block;
  content: "";
  width: 0;
  height: 0;
  margin: auto;
}

.cards__button-prev {
  border-top: 7px solid transparent;
  border-right: 11px solid #1d2e5b;
  border-bottom: 7px solid transparent;

  &::before {
    display: block;
    content: "";
    right: 0;
    left: 0;
    bottom: 54px;
    width: 1px;
    position: absolute;
    border-bottom: 1px solid #edeff6;
  }
}

.cards__button-next {
  border-top: 7px solid transparent;
  border-left: 11px solid #1d2e5b;
  border-bottom: 7px solid transparent;
}

.cards__button-more {
  line-height: 30px;
  position: relative;
  align-self: center;
  display: flex;
  padding: 0;
  margin: 20px 0 18px;

  &::before,
  &::after {
    display: block;
    content: "";
    width: 18px;
    height: 2px;
    border-radius: 1px;
    background-color: #1d2e5b;
    position: absolute;
    top: 15px;
    left: -27px;

    @media (min-width: @tablet-width) {
      top: 7px;
      left: -43px;
      width: 26px;
    }
  }

  &::after {
    transform: rotate(90deg);
  }

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 1em;
    margin: 51px 0 52px;
  }
}

.cards__avatar {
  border-radius: 20px 0 0 20px;
}
