.card-user {
  display: grid;
  grid-template-columns: max-content 2fr;
  background-color: #ffffff;
  padding: 14px 0 23px;
  column-gap: 16px;
  border-radius: 20px;
  position: relative;

  &:not(:last-child) {
    margin-bottom: 10px;

    @media (min-width: @tablet-width) {
      margin-bottom: 39px;
    }

    @media (min-width: @desktop-width) {
      margin-bottom: 30px;
    }
  }

  @media (min-width: @tablet-width) {
    grid-template-columns: min-content min-content 1fr min-content;
    grid-template-rows: min-content 1fr min-content min-content;
    padding: 35px 25px 25px 35px;
    column-gap: 0;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: max-content 54px min-content 105px 79px 233px 42px;
    grid-template-rows: 46px min-content min-content 36px min-content 48px;
    padding: 0;
  }
}

.card-user__like {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 31px;
  height: 31px;
  border-radius: 50%;
  position: absolute;
  left: 68px;
  top: 54px;

  &:hover {
    background-color: #e2e5f2;
  }

  &:active {
    svg {
      opacity: 0.1;
    }
  }

  @media (min-width: @tablet-width) {
    position: static;
    min-width: 50px;
    height: 50px;
  }
}

.card-user__like svg {
  @media (min-width: @tablet-width) {
    width: 21px;
    height: 18px;
  }

  @media (min-width: @desktop-width) {
    width: 20px;
    height: 20px;
  }
}

.card-user__like--pressed {
  background-color: #f9eaea;

  &:hover {
    background-color: #f9d8d8;
  }
}

.card-user__like-icon {
  @media (min-width: @tablet-width) {
    width: 21px;
    height: 18px;
  }
}

.card-user__likes {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 1em;
    margin-left: 6px;
  }
}

.card-user__title {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: min-content;
  color: #1d2e5b;
  font-weight: 700;
  font-size: 20px;
  line-height: 1em;
  margin: 0;

  &::after {
    display: block;
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    position: absolute;
    top: 22px;
    right: 23px;

    @media (min-width: @tablet-width) {
      position: static;
      margin-left: 22px;
      width: 8px;
      height: 8px;
    }

    @media (min-width: @desktop-width) {
      position: absolute;
      left: -39px;
      top: calc(50% - 6px);
    }
  }

  @media (min-width: @tablet-width) {
    width: max-content;
    font-size: 30px;
  }

  @media (min-width: @desktop-width) {
    grid-area: 2 / 3 / 3 / 5;
    position: relative;
    justify-self: start;
  }
}

.card-user__title-link {
  margin: 0;
  text-decoration: none;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    grid-column: 2 / -2;
    margin-left: 4px;
  }

  @media (min-width: @desktop-width) {
    grid-area: 2 / 3 / 3 / 5;
    position: relative;
    justify-self: start;
  }
}

.card-user--offline .card-user__title {
  &::after {
    background-color: #f97676;
  }
}

.card-user--online .card-user__title {
  &::after {
    background-color: #81e31e;
  }
}

.card-user__inner-title {
  color: #444444;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  margin: 0;
  padding: 0 10px;
  position: relative;
  width: max-content;
  background-color: @basic-white;
  z-index: 2;

  @media (min-width: @tablet-width) {
    margin: 0 0 0 49px;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.card-user__likes-wrapper {
  @media (min-width: @tablet-width) {
    grid-area: 3 / 3 / 4 / 4;
    display: flex;
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    grid-area: -3 / 4 / -2 / -3;
  }
}

.card-user__avatar {
  grid-row: 1 / 3;
  height: 70px;

  @media (min-width: @tablet-width) {
    grid-row: 1 / 4;
    height: 190px;
    margin: 0 29px 0 0;
  }

  @media (min-width: @desktop-width) {
    height: 285px;
    margin: 0;
    grid-row: 1 / -1;
  }
}

.card-user__hashtags {
  list-style-type: none;
  color: #444444;
  font-weight: 400;
  font-size: 15px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  grid-column: 1 / -1;
  width: 75%;
  margin: 14px 26px 19px;

  &::before,
  &::after {
    display: block;
    content: "";
    height: 1px;
    width: 100%;
    background-color: #edeff6;
    position: absolute;
    left: 0;
  }

  &::before {
    top: 160px;
  }

  &::after {
    top: unset;
    bottom: 139px;
  }

  @media (min-width: @tablet-width) {
    grid-area: 2 / 2 / 3 / -2;
    margin: 19px 0 0 7px;
    height: min-content;
    width: 70%;

    &::before {
      display: none;
    }

    &::after {
      bottom: 78px;
    }
  }

  @media (min-width: @desktop-width) {
    grid-area: 3 / 3 / 4 / -4;
    width: auto;
    margin: 20px 0 0;

    &::after {
      display: none;
    }
  }
}

.card-user__targets {
  grid-column: 1 / -1;
  margin-left: 15px;

  @media (min-width: @tablet-width) {
    order: 1;
    margin: 0;
    padding-top: 20px;
    grid-column: 1 / -2;
  }

  @media (min-width: @desktop-width) {
    order: 0;
    padding: 0;
    grid-area: 2 / -3 / 4 / -2;
  }
}

.card-user__targets .user-targets__list {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: start;
  }

  @media (min-width: @desktop-width) {
    flex-direction: column;
  }
}

.card-user__important-data {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
  margin-left: 15px;

  @media (min-width: @tablet-width) {
    flex-direction: column;
    grid-area: 1 / -2 / -1 / -1;
    margin: 0;
    justify-content: start;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
    grid-area: -3 / -3 / -1 / -2;
  }
}

.card-user__button {
  padding: 14px 78px 10px;
  margin: 0 20px;
  grid-column: 1 / -1;
  color: #161c35;

  &:hover {
    background-color: #ffbd30;
  }

  &:active {
    color: fade(#161c35, 30%);
  }

  @media (min-width: @tablet-width) {
    grid-column: 2 / 3;
    font-size: 20px;
    line-height: 1em;
    display: flex;
    align-self: end;
    padding: 16px 32px 15px 33px;
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    align-self: start;
    grid-area: -3 / 3 / -2 / 4;
    width: min-content;
  }
}
