.card-user {
  background-color: #ffffff;
  padding: 18px;
  border-radius: 20px;

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.card-user__status--offline {
  background-color: #f97676;
}

.card-user__status--online {
  background-color: #bbf085;
}

.card-user__likes {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

.card-user__title {
  color: #1d2e5b;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
}

.card-user__hashtags {
  color: #444444;
  font-weight: 400;
  font-size: 15px;
}

.card-user__button {
  padding: 14px 78px 13px;
}
