.companion-card {
  background-color: #ffffff;
  border-radius: 10px;
  position: relative;
  width: min-content;

  &:hover {
    filter: drop-shadow(0 4px 9px rgba(0, 0, 0, 0.16));
    transform: scaleY(1.01);
    transition-duration: 0.5s;
  }

  &:not(:last-child) {
    margin-bottom: 9px;

    @media (min-width: @tablet-width) {
      margin-right: 50px;
      margin-bottom: 0;
    }

    @media (min-width: @desktop-width) {
      margin-right: 60px;
    }
  }

  @media (min-width: @tablet-width) {
    border-radius: 20px;
  }
}

.companion-card__level {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  background-color: fade(@basic-black, 60%);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  left: 23px;
  color: @basic-white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.companion-card__level--user-1 .companion-card__level-meter {
  stroke-dashoffset: 192;
}

.companion-card__level--user-2 .companion-card__level-meter {
  stroke-dashoffset: 214;
}

.companion-card__level-meter {
  position: absolute;
}

.companion-card__meter {
  fill: none;
  stroke: @special-orange;
  stroke-width: 4px;
  stroke-dasharray: 314;
  stroke-linecap: round;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  position: absolute;
}

.companion-card__level-value {
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  width: min-content;
  margin: 0 auto;

  &::after {
    display: block;
    content: "level";
    font-weight: 400;
    font-size: 14px;
    line-height: 1em;
    padding-top: 2px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
  }
}

.companion-card__photo {
  border-radius: 10px 10px 0 0;

  @media (min-width: @tablet-width) {
    border-radius: 20px 20px 0 0;
  }
}

.companion-card__info {
  padding: 22px 20px 17px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  @media (min-width: @tablet-width) {
    padding: 26px 20px 25px;
  }
}

.companion-card__link {
  text-decoration: none;

  @media (min-width: @tablet-width) {
    align-self: start;
    margin-left: 26px;
  }
}

.companion-card__name {
  color: #1d2e5b;
  margin: 0;
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
  display: flex;
  align-items: center;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }

  &::before {
    display: block;
    content: "";
    min-width: 6px;
    height: 6px;
    border-radius: 50%;
    margin-right: 10px;

    @media (min-width: @tablet-width) {
      min-width: 8px;
      height: 8px;
      margin-right: 14px;
    }
  }

  @media (min-width: @tablet-width) {
    font-size: 24px;
    line-height: 0.9em;
  }
}

//offline/online user modes

.companion-card--offline .companion-card__name {
  &::before {
    background-color: #f97676;
  }
}

.companion-card--online .companion-card__name {
  &::before {
    background-color: #81e31e;
  }
}

.companion-card__hashtags {
  color: #444444;
  font-weight: 400;
  text-align: center;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 23px;
    margin: 23px 0 25px;
  }
}

.companion-card__transport {
  list-style-type: none;
  padding: 0;
}
