.companion-transport {
  display: flex;
  flex-wrap: wrap;
}

.companion-transport__item {
  display: block;
  width: 25px;
  height: 25px;
  text-align: center;
}

.companion-transport__item--available .companion-transport__icon {
  fill: #1d2e5b;
  opacity: 1;
}

.companion-transport__item--not-available .companion-transport__icon {
  opacity: 0.15;
}
