.companion-card {
  background-color: #ffffff;
  border-radius: 10px;
}

.companion-card__link {
  text-decoration: none;
}

.companion-card__name {
  color: #1d2e5b;
}

.companion-card__hashtags {
  color: #444444;
}

.companion-card__transport {
  list-style-type: none;
  padding: 0;
}
