.filter {
  position: relative;
}

.filter__inner-wrapper {
  padding: 21px 25px 25px 25px;
  display: grid;

  @media (min-width: @tablet-width) {
    grid-template-columns: 2fr 1fr;
    row-gap: 76px;
    column-gap: 44px;
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr;
  }
}

.filter__continent-list {
  padding: 0;
  margin: 0 0 0 25px;
  list-style-type: none;
  display: grid;
  row-gap: 9px;

  @media (min-width: @tablet-width) {
    display: flex;
    order: -1;
    margin: 0;
  }
}

.filter__continent-item {
  &:not(:last-child) {
    @media (min-width: @tablet-width) {
      margin-right: 28px;
    }

    @media (min-width: @desktop-width) {
      margin-right: 33px;
    }
  }
}

.filter__continent-link {
  color: @background-deep-blue;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  opacity: 0.3;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 1;
  }

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 1em;
  }
}

.filter__continent-link--current {
  opacity: 1;
  cursor: default;

  &:hover,
  &:active {
    opacity: 1;
  }
}

.filter__alphabet-list {
  min-height: 205px;
  padding: 0;
  margin: 0;
  text-align: center;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  border-top: 1px solid @light-telegray;
  border-left: 1px solid @light-telegray;

  @media (min-width: @tablet-width) {
    row-gap: 24px;
    border: none;
  }

  @media (min-width: @desktop-width) {
    row-gap: 50px;
    margin: 75px 30px 65px 35px;
  }
}

.filter__alphabet-link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: @ocean-blue;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
  height: 100%;
  background-color: @basic-white;

  @media (min-width: @tablet-width) {
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    background-color: inherit;
    opacity: 0.3;
    border: none;
    justify-content: start;
  }

  @media (min-width: @desktop-width) {
    height: auto;
    margin-bottom: 30px;
    text-align: start;
  }
}

.filter__alphabet-link--current {
  color: @basic-white;
  background-color: @ocean-blue;

  @media (min-width: @tablet-width) {
    background-color: inherit;
    color: @ocean-blue;
    opacity: 1;
  }
}

.filter__country-list {
  list-style-type: none;
  padding: 0;
  margin: 14px 0 0 0;

  @media (min-width: @tablet-width) {
    margin: 0 0 0 16px;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.filter__country-link {
  text-decoration: none;
  color: #444444;
  font-weight: 400;
  line-height: 22px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 1.5em;
  }
}
