.filter__inner-wrapper {
  padding: 25px;
}

.filter__continent-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.filter__continent-link {
  color: #192144;
  text-decoration: none;
  text-transform: uppercase;
  opacity: 0.3;
}

.filter__continent-link--current {
  opacity: 1;
}

.filter__alphabet-list {
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.filter__alphabet-link {
  color: #1d2e5b;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: @basic-white;
}

.filter__alphabet-link--current {
  color: @basic-white;
  background-color: #1d2e5b;
}

.filter__country-list {
  list-style-type: none;
  padding: 0;
}

.filter__country-link {
  text-decoration: none;
  color: #444444;
  font-weight: 400;
  line-height: 22px;
}
