.filter-companion {
  background-color: #ffd74b;
  padding: 20px;
  border-radius: 20px;
}

.filter-companion__title {
  margin: 0;
}

.filter-companion__list {
  list-style-type: none;
  padding: 0;
}

.filter-companion__preferences {
  padding: 0;
  list-style-type: none;
}

.filter-companion__transport {
  padding: 0;
  list-style-type: none;
}
