.filter-letter {
  border-right: 1px solid @light-telegray;
  border-bottom: 1px solid @light-telegray;

  @media (min-width: @tablet-width) {
    text-align: start;
    border: none;
  }

  @media (min-width: @desktop-width) {
    &:nth-child(16),
    &:nth-child(17),
    &:nth-child(18),
    &:nth-child(19),
    &:nth-child(20) {
      margin-top: 38px;
    }
  }
}

.filter-letter__list {
  display: none;
  list-style-type: none;
  padding: 0;

  @media (min-width: @desktop-width) {
    display: block;
  }
}

.filter-letter__item {
  text-align: start;
}

.filter-letter__link {
  text-decoration: none;
  color: #444444;

  @media (min-width: @desktop-width) {
    font-size: 20px;
    line-height: 1.5em;
  }
}
