.filter__continent-list {
  padding: 0;
  list-style-type: none;
}

.filter__continent-link {
  text-decoration: none;
  color: #192144;
  opacity: 0.3;
}

.filter__continent-link--current {
  opacity: 1;
}

.filter__alphabet-list {
  padding: 0;
  list-style-type: 0;
}

.filter__alphabet-link {
  text-decoration: none;
  color: #1d2e5b;
  background-color: #ffffff;
}

.filter__alphabet-link--current {
  color: #ffffff;
  background-color: #1d2e5b;
}

.filter__country-list {
  list-style-type: none;
  padding: 0;
}

.filter__country-link {
  text-decoration: none;
  color: #444444;
}
