.main-nav {
  width: calc(100vw - 50px);
  display: grid;
  grid-template-columns: 1fr;
  background-color: #161d36;
  padding: 27px 25px 41px;
  position: absolute;
  z-index: 2;

  @media (min-width: @tablet-width) {
    background-color: #182044;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background-color: #161d36;
  }
}

.main-nav--active {
  background-color: @basic-white;
}

.main-nav__wrapper {
  display: flex;
  flex-direction: column;
}

.main-nav__list {
  margin: 74px 0 0 0;

  @media (min-width: @tablet-width) {
    grid-column: -1 / 1;
    margin: 98px 57px;
  }

  @media (min-width: @desktop-width) {
    grid-column: 2 / -3;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
  }
}

.main-nav .contacts-list {
  @media (min-width: @desktop-width) {
    order: -1;
    grid-column: -2 / -3;
    justify-content: end;
    margin: 0;
  }
}

.main-nav .main-nav__login {
  padding: 12px 0 8px;
  margin: 51px 0;

  @media (min-width: @tablet-width) {
    position: absolute;
    top: 25px;
    right: 25px;
    padding: 16px 28px 14px 29px;
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    position: static;
    order: 0;
    grid-column: -1 / -2;
    font-size: 20px;
    line-height: 20px;
  }
}

.main-nav .main-nav__login--active {
  @media (min-width: @tablet-width) {
    font-weight: 400;
  }
}

.main-nav__contacts {
  @media (min-width: @tablet-width) {
    justify-content: start;
    grid-column: -1 / 1;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.main-nav__contacts .social-media__item:not(:last-child) {
  margin-right: 27px;
}

.main-nav__toggle {
  position: absolute;
  top: 30px;
  right: 25px;

  &::before,
  &::after {
    display: block;
    content: "";
    width: 25px;
    height: 3px;
    border-radius: 1.5px;
    background-color: @basic-white;
  }

  &::after {
    margin-top: 5px;
  }

  @media (min-width: @tablet-width) {
    top: 40px;
    right: 50%;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.main-nav__toggle--active {
  &::before,
  &::after {
    background-color: #cccccc;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    margin-top: -3px;
    transform: rotate(-45deg);
  }
}

.main-nav__socials {
  @media (min-width: @tablet-width) {
    justify-content: start;
  }
}

.main-nav--nojs {
  background: @basic-white;
}
