.main-footer {
  justify-self: end;
  background: @basic-white;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.main-footer__logo {
  justify-self: center;

  @media (min-width: @tablet-width) {
    justify-self: start;
  }
}

.main-footer__wrapper {
  display: grid;
  row-gap: 36px;
  padding: 37px 25px 19px;

  @media (min-width: @tablet-width) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
