.main-header {
  background-color: #182044;
  border-radius: 0 0 20px 20px;
  z-index: 3;

  @media (min-width: @tablet-width) {
    border-radius: 0 0 60px 60px;
    background-color: #182044;
  }

  @media (min-width: @desktop-width) {
    display: grid;
  }
}

.main-header--main-page {
  background-color: #161c35;
  border-radius: 0 0 30px 30px;
  z-index: 6;

  @media (min-width: @tablet-width) {
    background-color: #182044;
    border-radius: 0 0 60px 60px;
  }
}

.main-header__wrapper {
  padding: 96px 25px 11px;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 225px 75px 65px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: min-content;
    padding: 225px 124px 65px;
  }
}

.main-header__wrapper .main-header__contacts {
  display: none;

  @media (min-width: @tablet-width) {
    display: flex;
  }
}

.main-header .main-header__list {
  display: none;

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.main-header__list .page-list__link {
  @media (min-width: @desktop-width) {
    color: @basic-white;
  }
}

.main-header__logo {
  width: min-content;

  @media (min-width: @desktop-width) {
    order: -2;
    height: 50px;
  }
}

.main-header__logo picture {
  &:nth-child(1) {
    display: block;
  }

  &:nth-child(2) {
    display: none;
  }
}

.main-header__logo--active picture {
  &:nth-child(1) {
    display: none;
  }

  &:nth-child(2) {
    display: block;
  }
}

.main-header__logo--active-scrolled picture {
  &:nth-child(1) {
    display: block;
  }

  &:nth-child(2) {
    display: none;
  }
}

.main-header__return-button {
  display: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: @basic-white;
  text-transform: uppercase;
  text-decoration: none;
  justify-self: end;
  align-self: center;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &::after {
    display: block;
    content: "";
    width: 32px;
    height: 16px;
    margin-left: 28px;
    background: url("../img/icon-arrow-round.svg") no-repeat center;
  }

  @media (min-width: @tablet-width) {
    display: flex;
    order: 1;
  }

  @media (min-width: @desktop-width) {
    grid-column: 4 / 5;
  }
}

.main-header .main-nav--scrolled {
  background-color: @basic-white;
  padding: 27px 25px;

  @media (min-width: @tablet-width) {
    padding: 45px 40px;
  }

  @media (min-width: @desktop-width) {
    padding: 20px 60px;
  }
}
