.options {
  background-color: #edeff6;
  padding: 25px;
}

.options__list {
  list-style-type: none;
  padding: 0;
}

.options__link {
  text-decoration: none;
}

.options__description {
  color: #444444;
}

.options__show-more {
  color: #1d2e5b;
}
