.options-card__wrapper {
  background-color: #ffffff;
  border-radius: 10px;
}

.options-card__title {
  font-weight: 700;
  color: #000000;
}

.options-card__slogan,
.options-card__clients {
  color: #444444;
  opacity: 0.3;
}
