.profile-pricing {
  margin: 0;
  counter-reset: pricing;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 198px;
    margin-top: 26px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 103px;
    grid-template-columns: 1fr 446px;
  }
}

.profile-pricing__item,
.profile-pricing__price {
  color: #444444;
  font-weight: 300;
  margin: 0;
  line-height: 16px;
}

.profile-pricing__price {
  padding: 0 0 14px;

  @media (max-width: 767px) {
    &:last-of-type {
      border-bottom: 1px solid @platinum;
      width: 82%;
    }
  }

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: #e2e5f2;
    font-size: 28px;
    line-height: 1em;
    position: relative;
    padding: 0 35px 0 0;


    &:not(:last-of-type) {
      &::after {
        display: block;
        content: "";
        width: 166px;
        height: 1px;
        background-color: @platinum;
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    &:not(:first-of-type) {
      &::before {
        display: block;
        content: "";
        width: 166px;
        height: 1px;
        background-color: @platinum;
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }

    &:first-of-type {
      &::before {
        display: block;
        content: "";
        width: 100%;
        height: 40px;
        position: absolute;
        background-color: #e2e5f2;
        left: 0;
        z-index: -1;
        top: -40px;
        border-radius: 20px 20px 0 0;
      }
    }


    &:last-of-type {
      &::after {
        display: block;
        content: "";
        width: 100%;
        height: 40px;
        position: absolute;
        background-color: #e2e5f2;
        left: 0;
        z-index: -1;
        bottom: -40px;
        border-radius: 0 0 20px 20px;
      }
    }
  }

  @media (min-width: @desktop-width) {
    padding: 0 161px 0 0;

    &:not(:last-of-type) {
      &::after {
        width: 284px;
      }
    }

    &:not(:first-of-type) {
      &::before {
        width: 284px;
      }
    }

    &::before,
    &::after {
      height: 50px;
    }

    &::after {
      bottom: -50px;
    }
  }
}

.profile-pricing__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 13px 0 6px;
  border-top: 1px solid @platinum;
  position: relative;
  counter-increment: pricing;
  width: 82%;

  &::before,
  &::after {
    display: flex;
    align-items: center;
    justify-content: center;
    color: @basic-white;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    position: absolute;
    right: -44px;
    top: 5px;
  }

  &::after {
    content: counter(pricing);
  }

  &::before {
    display: none;
  }

  @media (min-width: @tablet-width) {
    justify-content: start;
    font-size: 28px;
    line-height: 1em;
    padding: 21px 0 16px;
    margin-left: 90px;
    width: unset;

    &:first-of-type {
      &::after {
        top: -2px;
      }
    }

    &:last-of-type {
      border-bottom: 1px solid @platinum;

      &::after {
        top: 2px;
      }
    }

    &::before {
      display: flex;
      min-width: 68px;
      height: 68px;
      font-size: 28px;
      line-height: 1em;
      margin-right: 22px;
    }

    &::after {
      order: -1;
      min-width: 68px;
      height: 68px;
      position: absolute;
      left: -90px;
      top: 0;
    }
  }
}

.profile-pricing__item--basic {
  &::before,
  &::after {
    background-color: @special-orange;
  }
}

.profile-pricing__item--premier {
  &::before,
  &::after {
    background-color: @special-yellow-dark;
  }
}

.profile-pricing__item--custom-color {
  &::before,
  &::after {
    background-color: @special-yellow;
  }
}
