.profile-pricing {
  margin: 0;
  counter-reset: pricing;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 198px;
    margin-top: 26px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 103px;
    grid-template-columns: 1fr 446px;
  }
}

.profile-pricing__item,
.profile-pricing__price {
  color: #444444;
  font-weight: 300;
  margin: 0;
  line-height: 16px;
}

.profile-pricing__price {
  padding: 0 0 10px;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e2e5f2;
    border-top: 1px solid #e1e3e9;
    font-size: 28px;
    line-height: 1em;
    position: relative;
    padding: 0;

    &::before,
    &::after {
      display: block;
      content: "";
      width: 100%;
      height: 30px;
      position: absolute;
      background-color: #e2e5f2;
      left: 0;
      z-index: -1;
    }

    &::before {
      top: -30px;
      border-radius: 20px 20px 0 0;
    }

    &::after {
      bottom: -30px;
      border-radius: 0 0 20px 20px;
    }
  }

  @media (min-width: @desktop-width) {
    &::before,
    &::after {
      height: 50px;
    }

    &::before {
      top: -50px;
    }

    &::after {
      bottom: -50px;
    }
  }
}

.profile-pricing__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 0 0;
  border-top: 1px solid #e1e3e9;
  counter-increment: pricing;

  &::before,
  &::after {
    display: flex;
    align-items: center;
    justify-content: center;
    color: @basic-white;
    width: 34px;
    height: 34px;
    border-radius: 50%;
  }

  &::after {
    content: counter(pricing);
  }

  &::before {
    display: none;
  }

  @media (min-width: @tablet-width) {
    justify-content: start;
    font-size: 28px;
    line-height: 1em;
    padding: 0;

    &::before {
      display: flex;
      min-width: 68px;
      height: 68px;
      font-size: 28px;
      line-height: 1em;
      margin-right: 22px;
    }

    &::after {
      order: -1;
      margin-right: 22px;
      min-width: 68px;
      height: 68px;
    }
  }
}

.profile-pricing__item--basic {
  &::before,
  &::after {
    background-color: @special-orange;
  }
}

.profile-pricing__item--premier {
  &::before,
  &::after {
    background-color: @special-yellow-dark;
  }
}

.profile-pricing__item--custom-color {
  &::before,
  &::after {
    background-color: @special-yellow;
  }
}
