.profile-addition {
  background-color: #e6e8f1;
  padding: 25px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.profile-addition__title {
  color: #ff8d30;
}

.profile-addition__business-button {
  color: #132576;
  font-weight: 700;
  text-decoration: none;
}
