.social-media {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}

.social-media__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
}

.social-media__link {
  background-repeat: no-repeat;
  background-position: center;
}

.social-media__link--telegram {
  background-image: url("data:image/svg+xml,%3Csvg width='21' height='19' viewBox='0 0 21 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.124.687A1.502 1.502 0 0 0 18.603.45l-17.34 7a1.493 1.493 0 0 0 .076 2.79l3.742 1.3 2.027 6.702c.004.013.017.022.022.035a.475.475 0 0 0 .309.284c.01.003.016.012.026.014H7.474a.433.433 0 0 0 .225-.011c.008-.002.016-.002.025-.005a.478.478 0 0 0 .184-.118c.006-.007.016-.008.022-.014l2.915-3.218 4.256 3.295c.258.202.576.312.905.312.71 0 1.322-.498 1.468-1.192l3.157-15.501a1.483 1.483 0 0 0-.507-1.438ZM8.166 12.813l-.684 3.326-1.428-4.72 7.08-3.688-4.837 4.837a.482.482 0 0 0-.131.245Zm8.36 4.618a.522.522 0 0 1-.336.386.507.507 0 0 1-.497-.076l-4.61-3.57a.484.484 0 0 0-.654.059L8.4 16.465l.683-3.317 6.957-6.958a.484.484 0 0 0-.565-.77L5.446 10.643l-3.79-1.318a.509.509 0 0 1-.35-.476.515.515 0 0 1 .324-.502l17.336-7a.519.519 0 0 1 .54.084.506.506 0 0 1 .176.501l-3.156 15.499v-.001Z' fill='%23000'/%3E%3C/svg%3E");
}

.social-media__link--vkontakte {
  background-image: url("data:image/svg+xml,%3Csvg width='31' height='24' viewBox='0 0 31 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M24.833 19.789a4.051 4.051 0 0 1-2.08-.63 10.17 10.17 0 0 1-1.78-1.53c-.44-.44-1.17-1.18-1.45-1.18s-.48.92-.47 1.57a1.75 1.75 0 0 1-.47 1.21 2.26 2.26 0 0 1-1.22.5h-1.92a11.32 11.32 0 0 1-7.43-3c-3.68-3.37-6.84-9.81-6.97-10.09a1.34 1.34 0 0 1 .15-1.48 2.07 2.07 0 0 1 1.36-.48h4.2c.338.049.661.168.95.35.272.182.49.434.63.73a22.09 22.09 0 0 0 1.48 2.67c1.31 2 1.89 2.46 2.1 2.56.234-.938.298-1.91.19-2.87a2.702 2.702 0 0 0-.21-1.28 1.33 1.33 0 0 0-.77-.29l-.73-.69c-.14-.66.59-1.23 1.1-1.45a8.69 8.69 0 0 1 3.15-.38h.71a9.11 9.11 0 0 1 2.15.2c1.7.36 1.64 1.73 1.57 3.31 0 .46-.05 1-.05 1.62v.48c-.04.435-.009.874.09 1.3a9.091 9.091 0 0 0 2.07-2.48 20.396 20.396 0 0 0 1.52-2.8 1.58 1.58 0 0 1 1.6-.95h4.28a2 2 0 0 1 .38 0c1 0 1.59.29 1.83.85s.17 1.66-2.36 4.61l-1 1.13a7.337 7.337 0 0 0-1.24 1.59c.379.43.809.813 1.28 1.14 1.15.866 2.16 1.9 3 3.07a1.599 1.599 0 0 1 .26 1.68 2.301 2.301 0 0 1-1.88 1l-3.79.05-.23-.04Zm-5.31-4.84c.9 0 1.68.79 2.51 1.62.448.49.952.926 1.5 1.3.415.276.902.422 1.4.42h.1l3.8-.05c.188-.011.371-.059.54-.14l-.1-.16a13.221 13.221 0 0 0-2.68-2.72c-1.19-1-1.8-1.47-1.87-2.24-.07-.77.49-1.44 1.61-2.71l1-1.11a10.731 10.731 0 0 0 2.05-2.95 5.66 5.66 0 0 0-.67 0h-4.37a.55.55 0 0 0-.24 0 20.507 20.507 0 0 1-1.65 3.05c-1.89 2.82-2.78 3.2-3.41 3.2a1.19 1.19 0 0 1-.56-.14c-1-.57-1-1.84-.94-2.76v-.43c0-.65 0-1.21.05-1.69.08-1.68 0-1.69-.38-1.78a8.561 8.561 0 0 0-1.86-.16h-.69a13 13 0 0 0-1.9.1c.096.07.18.154.25.25.413.65.618 1.41.59 2.18.13 1.65.06 3.8-1 4.32a1.382 1.382 0 0 1-.6.13c-.93 0-1.85-.88-3.42-3.26a23.42 23.42 0 0 1-1.61-2.85l-.08-.1a1.21 1.21 0 0 0-.32-.11h-4.07c.59 1.22 3.39 6.62 6.52 9.45a10 10 0 0 0 6.42 2.63h1.85c.095-.02.186-.054.27-.1v-.09c0-.27 0-2.6 1.58-3 .122-.048.25-.082.38-.1Z' fill='%23192144'/%3E%3C/svg%3E");
}

.social-media__link--youtube {
  background-image: url("data:image/svg+xml,%3Csvg width='21' height='16' viewBox='0 0 21 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.603 7.325 9.248 4.422a.363.363 0 0 0-.563.299v5.806a.354.354 0 0 0 .191.318.41.41 0 0 0 .172.045.327.327 0 0 0 .2-.063l4.355-2.903a.354.354 0 0 0 0-.6ZM9.41 9.847V5.401l3.339 2.223-3.339 2.223ZM19.8 2.435A1.851 1.851 0 0 0 18.702 1.2C15.635.02 10.709.04 10.5.04 10.291.04 5.365.02 2.298 1.2a1.85 1.85 0 0 0-1.097 1.235c-.227.88-.5 2.495-.5 5.19 0 2.694.273 4.309.5 5.189a1.85 1.85 0 0 0 1.097 1.234c3.067 1.18 7.993 1.16 8.202 1.16h.063c.627 0 5.226-.035 8.139-1.16a1.851 1.851 0 0 0 1.097-1.234c.227-.88.5-2.495.5-5.19 0-2.694-.273-4.31-.5-5.19Zm-.707 10.197a1.088 1.088 0 0 1-.653.735c-2.94 1.134-7.885 1.116-7.939 1.116-.054 0-4.999.018-7.939-1.116a1.089 1.089 0 0 1-.653-.735c-.217-.843-.48-2.395-.48-5.008s.263-4.164.48-5.008a1.089 1.089 0 0 1 .653-.735C5.501.747 10.446.765 10.5.765c.054 0 4.999-.018 7.939 1.116a1.089 1.089 0 0 1 .653.735c.218.844.48 2.395.48 5.008s-.262 4.165-.48 5.008Z' fill='%23000'/%3E%3C/svg%3E");
}

.social-media__footer-link {
  background-color: @special-yellow;
  display: block;
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
