.social-media {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}

.social-media__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;

  @media (min-width: @tablet-width) {
    width: 62px;
    height: 62px;
  }
}

.social-media__link {
  background-repeat: no-repeat;
  background-position: center;
}

.social-media__link--telegram {
  background-image: url("../img/logo-telegram.svg");
}

.social-media__link--vkontakte {
  background-image: url("../img/logo-vkontakte.svg");
}

.social-media__link--youtube {
  background-image: url("../img/logo-youtube.svg");
}

.social-media__footer-link {
  background-color: @special-yellow;
  display: block;
  width: 45px;
  height: 45px;
  border-radius: 50%;

  @media (min-width: @tablet-width) {
    min-width: 62px;
    height: 62px;
  }
}
