.step-position {
  padding: 0;
  list-style-type: none;
}

.step-position__item {
  text-transform: uppercase;
  font-size: 20px;
  line-height: 1.2em;
  display: flex;
  align-items: center;
  color: @basic-black;
  opacity: 0.6;

  &:not(:last-child) {
    margin-bottom: 27px;
  }
}

.step-position__item::before {
  display: block;
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #1d2e5b;
}

.step-position__item--current {
  opacity: 1;
}
