.step {
  background-color: @basic-white;
  padding: 25px;
  border-radius: 10px;

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.step__title {
  color: #1d2e5b;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  margin: 0;
}

.step__description {
  color: #444444;
  font-weight: 400;
  line-height: 22px;
}

.step__quantity {
  color: #1d2e5b;
}

.step__alphabet-list {
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.step__alphabet-link {
  text-decoration: none;
  color: #1d2e5b;
}

.step__alphabet-link--current {
  background-color: #edeff6;
}

.step__country-list {
  list-style-type: none;
  padding: 0;
}

.step__country-link {
  text-decoration: none;
  color: #444444;
}

.step__textfield-list {
  list-style-type: none;
  padding: 0;
}
