.transport-list {
  display: flex;
  padding: 0;
  list-style-type: none;
  margin-top: 16px;

  @media (min-width: @tablet-width) {
    margin-top: 11px;
  }

  @media (min-width: @desktop-width) {
    margin: 23px 0 20px;
  }
}

.transport-list__checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: @basic-white;
  width: 32px;
  height: 32px;

  &:hover {
    filter: drop-shadow(0 2px 6px rgba(22, 28, 53, 0.17));
  }

  @media (min-width: @tablet-width) {
    width: 43px;
    height: 43px;
  }
}

.transport-list__checkbox .transport-icon {
  fill: @ocean-blue;
}

.transport-list__control ~ .transport-list__checkbox .transport-icon {
  opacity: 0.15;
}

.transport-list__control:checked ~ .transport-list__checkbox .transport-icon {
  opacity: 1;
}

.transport-list__item {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 32px;
  height: 32px;
  background-color: @smoky-white;
  border-radius: 50%;

  @media (min-width: @tablet-width) {
    background-color: inherit;
    height: 30px;
  }

  @media (min-width: @desktop-width) {
    min-width: 30px;
    height: 30px;

    &:hover {
      position: relative;

      &::before {
        color: @basic-white;
        display: block;
        padding: 18px 25px;
        background-color: #101d41;
        border-radius: 4px;
        position: absolute;
        bottom: -70px;
        z-index: 3;
        font-family: @project-font;
        font-size: 20px;
        line-height: 1em;
      }

      &::after {
        display: block;
        content: "";
        border: 7px solid transparent;
        border-bottom: 7px solid #101d41;
        position: absolute;
        bottom: -15px;
        left: calc(50% - 7px);
      }
    }
  }
}

.transport-list__item--filter {
  @media (min-width: @desktop-width) {
    &:hover {
      &::before {
        bottom: -76px;
      }

      &::after {
        bottom: -20px;
      }
    }
  }
}

.transport-list__item--plane {
  @media (min-width: @desktop-width) {
    &:hover {
      &::before {
        content: "Авиаперелет";
      }
    }
  }
}

.transport-list__item--bus {
  @media (min-width: @desktop-width) {
    &:hover {
      &::before {
        content: "Автотранспорт";
      }
    }
  }
}

.transport-list__item--bike {
  @media (min-width: @desktop-width) {
    &:hover {
      &::before {
        content: "Велосипед";
      }
    }
  }
}

.transport-list__item--run {
  @media (min-width: @desktop-width) {
    &:hover {
      &::before {
        content: "Пешком";
      }
    }
  }
}

.transport-list__item--not-available .transport-list__icon {
  opacity: 0.15;
}

.transport-list__item--available .transport-list__icon {
  opacity: 1;
}
