.trip-plan {
  background-color: #ffffff;
  padding: 25px;
  border-radius: 10px;
}

.trip-plan__title {
  color: #1d2e5b;
  margin: 0;
}

.trip-plan__companions {
  color: #1d2e5b;
}

.trip-plan__time {
  color: #1d2e5b;
}

.trip-plan__change {
  color: #000000;
  opacity: 0.3;
  text-decoration: none;
  text-transform: uppercase;
}
