.user-plans {
  background-color: #dfe3f0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.user-plans__title {
  color: #1d2e5b;
  margin: 0;
}

.user-plans__list {
  padding: 0;
}
