.user-targets__list {
  padding: 0;
  list-style-type: none;
}

.user-targets__item {
  color: #1d2e5b;
  font-weight: 500;
  font-size: 15px;
  line-height: 16px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 1em;
  }
}
